<h1 class = "header">All Employees</h1>
<div>
   <ul>
   <% @employees.each do |s| %>
       <li><%= link_to s.last_name, employee_path(s) %>,  <%= s.first_name %> | <%= s.employee_number %> | <%= link_to "Edit", edit_employee_path(s) %>, 
                              <%= link_to "Delete", s, method: :delete, data: {confirm: "Are you sure?" } %></li>
   <% end %>
   </ul>
    
    
</div>