<h1>All Employees</h1>
<div>
   <ul>
   <% @employees.each do |s| %>
       <li><%= s.last_name %>,  <%= s.first_name %> | <%= s.employee_number %>
                              <div class = "edit"><%= link_to "Edit", edit_employee_path(s) %>, 
                              <%= link_to "Delete", s, method: :delete, data: {confirm: "Are you sure?" } %></div></li>
   <% end %>
   </ul>
    
    
</div>