<!DOCTYPE html>
<html>
<head>
  <title>SignIn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "navbar"><%= link_to employees_url, "All Employees" %> | <% link_to new_employee_url, "Create a new employee" %> </div>
<%= yield %>

</body>
</html>
